body
    font 16px Ubuntu, sans-serif
.landingLetter
    font 24px "Coming Soon", sans-serif
.landingLetter input
    font 24px "Coming Soon", sans-serif
    height 2ex
.brandlogo
    vertical-align baseline
.nav a
    margin-top: 5px
