body
    font 16px Ubuntu, sans-serif

.landingLetter
    font 24px "Coming Soon", sans-serif
    transition opacity 1s
    -webkit-transition opacity 1s

#contactMe
    transition opacity 1s
    -webkit-transition opacity 1s

.landingLetter input
    font 24px "Coming Soon", sans-serif
    height 2ex

.brandlogo
    vertical-align baseline

.nav a
    margin-top: 5px

.grayedOut
    opacity: 0.3

#landingLetterSending
    font-size 400%
    position absolute
    top 50%
    left 2%
    width 98%
    text-align center
    display none
    transition opacity 2s
    -webkit-transition opacity 2s
